.calendar-shadow {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

.calendar-day.in-range {
  display: none;
}

.rdp {
  margin: 0;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: transparent;
}

.rdp-button {
  border-radius: 9999px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.reserved-indicator {
  width: 6px;
  height: 6px;
  background-color: #3ba0ff;
  display: block;
  border-radius: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}
